<ion-content [fullscreen]="true" mode="ios">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Report</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-item detail="true" lines="full" *ngFor="let item of listTrx; let i = index" (click)="gotoDetail(item)">
    <ion-label>
      <h3>TRX - {{item.document_number}}</h3>
      <p>Total Belanja : {{item.total_view}}</p>
      <p>{{item.trx_date_view}}</p>
    </ion-label>
  </ion-item>
  <div *ngIf="listTrx.length==0" class="ion-padding">
    <h3>Tidak ada data</h3>
  </div>


</ion-content>