<ion-content [fullscreen]="true" mode="ios">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card style="margin-top: 30%;">
    <ion-card-header>
      <ion-card-title>Login Page</ion-card-title>
      <ion-card-subtitle>Login Page</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input mode="md" label="User" label-placement="floating" fill="outline" placeholder="User" [(ngModel)]="user">
      </ion-input>
      <br />
      <ion-input mode="md" label="Password" type="password" label-placement="floating" fill="outline"
        placeholder="Password" [(ngModel)]="password">
      </ion-input>
      <br />
      <ion-button expand="block" color="warning" (click)="loginNow()">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>