<ion-content [fullscreen]="true" mode="ios">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Detail Transaksi</ion-title>
    </ion-toolbar>
    <!-- <ion-toolbar style="--background: #eaeaea;color: #333333;">

      <div style="padding: 15px;">
        <ion-button expand="block" color="warning" [routerLink]="['/buatjadwal']">
          Checkout
        </ion-button>
      </div>

    </ion-toolbar> -->
  </ion-header>

  <div style="padding: 15px; text-align: center;">
    <h3>TRX - {{data.document_number}}</h3>
  </div>



  <ion-list lines="full">
    <ion-item>
      <ion-label>Tanggal</ion-label>
      <ion-label slot="end">
        <p>{{data.trx_date_view}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Total Bayar</ion-label>
      <ion-label slot="end">
        <p>{{data.total_view}}</p>
      </ion-label>
    </ion-item>


  </ion-list>


  <div style="padding: 15px; text-align: center;">
    <h5>Detail Item</h5>
  </div>

  <ion-card *ngFor="let item of data.details; let i = index">

    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>

    <ion-item lines="full">
      <ion-label>Code</ion-label>
      <ion-label slot="end">
        <p>{{item.product_code}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Harga Satuan</ion-label>
      <ion-label slot="end">
        <p>{{formatRupiah(item.price)}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Jumlah Beli</ion-label>
      <ion-label slot="end">
        <p>{{item.quantity}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Jumlah Dibayar</ion-label>
      <ion-label slot="end">
        <p>{{formatRupiah(item.sub_total)}}</p>
      </ion-label>
    </ion-item>


  </ion-card>


</ion-content>