<ion-content [fullscreen]="true" mode="ios">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Detail Produk</ion-title>
    </ion-toolbar>
    <!-- <ion-toolbar style="--background: #eaeaea;color: #333333;">

      <div style="padding: 15px;">
        <ion-button expand="block" color="warning" [routerLink]="['/buatjadwal']">
          Checkout
        </ion-button>
      </div>

    </ion-toolbar> -->
  </ion-header>

  <div style="padding: 15px; text-align: center;">
    <img style="width: 30%;" alt="Silhouette of a person's head" src="./assets/default.png" />
    <br />
    <h3>{{data.name}}</h3>
  </div>



  <ion-list lines="full">
    <ion-item>
      <ion-label>Harga</ion-label>
      <ion-label slot="end">
        <p><s *ngIf="data.discount>0">{{data.price_view}}</s>
          {{data.price_after_discount_view}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dimensi</ion-label>
      <ion-label slot="end">
        <p>{{data.dimension}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Satuan</ion-label>
      <ion-label slot="end">
        <p>{{data.unit}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <div style="padding: 15px;">
    <ion-button expand="block" color="success">Buy</ion-button>
  </div> -->



</ion-content>