<ion-content [fullscreen]="true" mode="ios">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Checkout</ion-title>
    </ion-toolbar>
    <!-- <ion-toolbar style="--background: #eaeaea;color: #333333;">

      <div style="padding: 15px;">
        <ion-button expand="block" color="warning" [routerLink]="['/buatjadwal']">
          Checkout
        </ion-button>
      </div>

    </ion-toolbar> -->
  </ion-header>

  <div *ngIf="dataKeranjang.length>0">
    <ion-card *ngFor="let item of dataKeranjang; let i = index">
      <ion-card-content>
        <ion-item button detail="false" lines="none">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="./assets/default.png" />
          </ion-avatar>
          <ion-label>
            <h3>{{item.name}}</h3>
          </ion-label>
        </ion-item>

        <ion-item button detail="false" lines="none">
          <ion-label>
            <h3>Harga</h3>
          </ion-label>

          <ion-label slot="end">
            <p><s *ngIf="item.discount>0">{{item.price_view}}</s> {{item.price_after_discount_view}}</p>
          </ion-label>
        </ion-item>

        <ion-input mode="md" label="Quantity" type="number" label-placement="floating" fill="outline"
          placeholder="Quantity" value="{{item.quantity}}" (change)="onChangeTime($event,item.product_id)">
        </ion-input>

        <ion-item button detail="false" lines="none">
          <ion-label>
            <h3>Sub Total</h3>
          </ion-label>

          <ion-label slot="end">
            <p><b>{{formatRupiah((item.price_after_discount * item.quantity))}}</b></p>
          </ion-label>
        </ion-item>



      </ion-card-content>
    </ion-card>


    <ion-item button detail="false" lines="none">
      <ion-label>
        <h3>Total Belanja</h3>
      </ion-label>

      <ion-label slot="end">
        <h3><b>{{formatRupiah(totalBelanja)}}</b></h3>
      </ion-label>
    </ion-item>

    <div style="padding: 15px;">
      <ion-button expand="block" color="success" (click)="confirmPesanan()">Confirm</ion-button>
    </div>
  </div>

  <div *ngIf="dataKeranjang.length==0" class="ion-padding">
    <h3>Tidak ada item belanjaan</h3>
  </div>






</ion-content>