<ion-content [fullscreen]="true" mode="ios">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Daftar Barang</ion-title>
    </ion-toolbar>
    <ion-toolbar style="--background: #eaeaea;color: #333333;">

      <div style="padding: 15px;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="warning" [routerLink]="['/checkout']">
                Checkout ({{total_check_out}})
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="warning" [routerLink]="['/report']">
                Report
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>

    </ion-toolbar>
  </ion-header>



  <ion-item button detail="false" lines="full" *ngFor="let item of listProducts; let i = index">
    <ion-avatar slot="start" (click)="gotoDetail(item)">
      <img alt="Silhouette of a person's head" src="./assets/default.png" />
    </ion-avatar>
    <ion-label (click)="gotoDetail(item)">
      <h3>{{item['name']}}</h3>
      <p *ngIf="item['discount']>0"><s>{{item['price_view']}}</s></p>
      <p>{{item['price_after_discount_view']}}</p>
    </ion-label>
    <ion-button slot="end" color="success" (click)="actionBuy(item)">
      Buy
    </ion-button>
  </ion-item>



</ion-content>