ion-header {
  ion-toolbar {

    --background: #e53935;
    color: #ffffff;

  }
}

ion-content {

  // --background: #caece9;
  ion-col {
    border: 1px solid #eaeaea;
    padding: 10px;
  }

  .col-header {
    text-align: center;
    background: #f8f7f7;
  }

  .panel-data {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
  }
}

.label-title {
  white-space: break-spaces !important;
}